body {
  min-height: 3000px;
}

.jumbotron {
  padding-top: 5rem;
  background-color: #89bea2;
}

#projects {
  background-color: #89bea2;
}

/* edit u img */
/* .edimg {
  width: 415px;
  height: 200px;
} */

/* edit link ig di footer  */
.eda {
  text-decoration: none;
  color: black;
}

/* perpindahan navbar per-section, hilangkan garis,  */
section {
  padding-top: 9rem;
}
